Checks:          '-*,bugprone-*,modernize-*,-modernize-use-trailing-return-type,clang-analyzer-*,cppcoreguidelines-*,readability-*,performance-*,portability-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none